{% extends 'Enroll/base.html' %}
{% block content %}


<div class="row">
	<div class="col-sm-8 offset-2">
		<h4 class="alert alert-info"><i class="fas fa-user-check"></i>&nbsp;&nbsp;Update Student Information</h4>
		<form action="" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<br>
			<br>
			
    <input type="submit" class=" btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"  value="Update">

    
			&nbsp;&nbsp;<a href="{% url 'addAndShows' %}" class="btn btn-info text-dark">Back to Home</a>
		
		</form>
	</div>

	<div class="modal fade " id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content text-white ">
	        <div class="modal-header bg-warning">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	         
	        </div>
	        <div class="modal-body bg-success">
	          <p ><b>Updated Sucessfullly!!!</b></p>
	        </div>
	        
	      </div>
	      
	    </div>
  </div>


      
</div>


{% endblock content %}